body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    background-image: linear-gradient(to bottom, #e6fd92 0%, #d1fdff 100%);

}

.container{
    background-color: burlywood;
    width: 800px;
    padding: 20px ;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgb(113, 117, 78);
    transition: box-shadow 1s ease-in-out;
}

.container:hover{
    box-shadow: 10px 10px 30px rgb(113, 117, 78) ;
    
     
}

.container:active{
    box-shadow: 5px 5px 10px rgb(113, 117, 78) ;

}


h1{
    text-align: center;
}
label{
    font-size: 25px;
    
}

textarea{
    margin-top: 20px;
    resize: none;
    width: 100%;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    font-family: inherit;
}

textarea:hover{
    background-color: rgb(201, 239, 226);
    
}
textarea:focus{
    outline: none;
    
}

.count{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

p{
    font-size: 20px;
}