* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(89, 73, 89);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 10px 20px 100px rgb(231, 185, 185);
    background-color: rgb(91, 91, 91);
}

.container span {
    position: absolute;
    inset: 30px;
    display: block;
    text-align: center;
    font-size: 30px;
}
.rotate1 {
    position: relative;
    transform: rotate(30deg);
    color: chartreuse;
}
.rotate2 {
    position: relative;
    transform: rotate(60deg);
    color: brown;
}
.rotate3 {
    position: relative;
    transform: rotate(90deg);
    color: aqua;
}
.rotate4 {
    position: relative;
    transform: rotate(120deg);
    color: blueviolet;
}
.rotate5 {
    position: relative;
    transform: rotate(150deg);
    color: coral;
}
.rotate6 {
    position: relative;
    transform: rotate(180deg);
    color: rgb(253, 101, 131);
}
.rotate7 {
    position: relative;
    transform: rotate(210deg);
    color: darkorange;
}
.rotate8 {
    position: relative;
    transform: rotate(240deg);
    color: magenta;
}
.rotate9 {
    position: relative;
    transform: rotate(270deg);
    color: gold;
}
.rotate10 {
    position: relative;
    transform: rotate(300deg);
    color: darkblue;
}
.rotate11 {
    position: relative;
    transform: rotate(330deg);
    color: lightblue;
}
.rotate12 {
    position: relative;
    color: rgb(254, 196, 50);
}

.one {
    transform: rotate(-30deg);
}
.two {
    transform: rotate(-60deg);
}
.three {
    transform: rotate(-90deg);
}
.four {
    transform: rotate(-120deg);
}
.five {
    transform: rotate(-150deg);
}
.six {
    transform: rotate(-180deg);
}
.seven {
    transform: rotate(-210deg);
}
.eight {
    transform: rotate(-240deg);
}
.nine {
    transform: rotate(-270deg);
}
.ten {
    transform: rotate(-300deg);
}
.eleven {
    transform: rotate(-330deg);
}
.point {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 10px solid red;
    border-radius: 50%;
}

.point span {
    height: 105px;
    width: 3px;
    background-color: bisque;
}

.second{
    position: absolute;
    top: 70px;
    width: 5px;
    height: 130px;
    background-color: rgb(249, 10, 10);
    border-radius: 20px;
    transform-origin: bottom;
   
}

.minute {
    position: absolute;
    width: 5px;
    top: 100px;
    height: 100px;
    background-color: rgb(200, 239, 70);
    border-radius: 20px;
    transform-origin: bottom;
}

.hour {
    position: absolute;
    top: 130px;
    width: 5px;
    height: 70px;
    background-color: rgb(67, 175, 175);
    border-radius: 20px;
    transform-origin: bottom;
}
